<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>To Do List</title>
</head>
<body>
	<div id='list'>
 		 <table>
					<thead>
					<th>Task</th>
					<th>Email</th>
					<th>Priority</th>
					</thead>

					<tbody>
					{% for item in list %}

						<td>{{ item[0:] }}</td>


					{% endfor %}
					</tbody>
		</table>
	</div>
		<p></p>
		<p>-------------------------------------------------</p>
		<p></p>
	<div id='submit'>
		<form action="/submit" method="post">
			<p>
			<label for="task">Task</label>
			<input type="text" name="task"></input></p>
			<p>
			<label for="email">Email</label>
			<input type="text" name="email"></input></p>
			<p>
			<label for="priority">Priority</label>
			<select name='priority'>
				<p><option value='low'>Low</option></p>
				<p><option value='medium'>Medium</option></p>
				<p><option value='High'>High</option></p>
			</select></p>
			<input type="submit" value="Add To Do Item"></input>
		</form>
	</div>
</body>
</html>